body {
    background-image: url(../img/bg-fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    margin-top: 200px;
    overflow: hidden;
}

.container {
    width: 400px;
    height: 600px;
    position: relative;
    top: 30px;
    left: -300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    margin: 0 50px;
    perspective: 1000px;
}

.carta {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.container:hover .carta {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.carta::before, .carta::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    position: absolute;
    left: 0;
    transition: all 0.5s;
}

.carta::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top, transparent 46%, rgba(12,13,19,0.5) 68%, rgba(12,13,19) 97%);
}

.carta::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(to bottom, transparent 46%, rgba(12,13,19,0.5) 68%, rgba(12,13,19) 97%);
}

.container:hover .carta::before, .carta::after {
    opacity: 1;
}

.carta-dragao {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-anime {
    width: 100%;
    transition: transform 0.5s;
}

.container:hover .logo-anime {
    transform: translate3d(0%, -50px, 100px);
}

.img-anime {
    width: 150%;
    opacity: 0;
    position: absolute;
    transition: all 0.5s;
    z-index: -1;
}

.container:hover .img-anime {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}

.container:hover .carta::after {
    height: 120px;
}